.home {
    position: relative;
    text-align: center;
    color: #4e6066;
}

.home h3 {
  color: #EE6161;
}

.home .home-slider {
    display: flex;
    justify-content:center;
    list-style: none;
}

.home .home-slider li {
    font-size: 30px;
    padding: 10px;
    margin: auto 10px;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.home .home-banner {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.banner-card1,
.banner-card2,
.banner-card3 {
    width: 350px;
    height: 300px;
    padding: 0 5px;
    box-shadow:  3px 3px 5px #bebebe;
    border-radius: 10px 50px 10px 50px;
    transition: 0.4s ease;
}

.banner-card1:hover,
.banner-card2:hover,
.banner-card3:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.banner-card1 {
    background: linear-gradient(145deg, #c3dcb9, #a4b99c);
}

.banner-card2 {
    border: 1px solid #dadada;
}

.banner-card3 {
    background: linear-gradient(145deg, #e2afaf, #be9494);
}

.home-banner img, 
.home-banner h4 {
    margin: 0;
}
